{% extends "base.html"%}

{% block content %}
<h1>Приемка</h1>
<form method="post">
<table>
    <tr>
        <td width="8%">id</td>
        <td>order id</td>
        <td>worker id</td>
        <td>things</td>
        <td>comment</td>
        <td>status</td>
    </tr>
    <tr>
        <td width="8%"><input class="form-control" value="{{acceptance.id}}" name="id" readonly></td>
        <td><select class="form-control" name="order">
            {% for order in get_table('orders').filter(Tables.Order.status == 'created') %}
            {% if order.id == acceptance.order_id %}
            <option value="{{order.id}}" selected>{{order.id}} {{order.create_date}} {{order.client.name}}</option>
            {% else %}
            <option value="{{order.id}}">{{order.id}} {{order.date}} {{order.client.name}}</option>
            {% endif %}
            {% endfor %}
        </select></td>
        <td><select class="form-control" name="worker">
            {% for worker in get_table('workers') %}
            {% if worker.id == acceptance.worker_id %}
            <option value="{{worker.id}}" selected>{{worker.id}} {{worker.name}}</option>
            {% else %}
            <option value="{{worker.id}}">{{worker.id}} {{worker.name}}</option>
            {% endif %}
            {% endfor %}
        </select></td>
        <td><input class="form-control" value="{{acceptance.things}}" name="things"></td>
        <td><input class="form-control" value="{{acceptance.comment}}" name="comment"></td>
        <td><select class="form-control" name="status">
            {% for status in ['taken from client', 'delivered to the worker', 'in process', 'work completed', 'taken from worker', 'delivered to the client'] %}
            {% if status == acceptance.status %}
            <option selected>{{status}}</option>
            {% else %}
            <option>{{status}}</option>
            {% endif %}
            {% endfor %}
        </select></td>
        <td><button type="submit" class="btn btn-success">update</button></td>
    </tr>
</table>
</form><br>
{% if user.role == 'all_in' %}
<a class="btn btn-danger" href="/tables/acceptances/{{acceptance.id}}/delete" role="button">Delete Acceptance</a><br>
{% endif %}
<table>
    <tr>
        <td width="8%">id</td>
        <td>s/n</td>
        <td>vendor</td>
        <td>model</td>
        <td>client</td>
        <td colspan="2">comment</td>
    </tr>
    {% for item in things %}
    <tr>
        <td width="8%"><a href="/tables/things/{{item.id}}"><input class="form-control" value="{{item.id}}" readonly></a></td>
        <td><input class="form-control" value="{{item.sn}}" readonly></td>
        <td><input class="form-control" value="{{item.vendor}}" readonly></td>
        <td><input class="form-control" value="{{item.model}}" readonly></td>
        <td><input class="form-control" value="({{item.client_id}}) {{item.client.name}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td width="10%"><a class="btn btn-danger" href="/tables/acceptances/{{acceptance.id}}/remove_thing/{{item.id}}" role="button">Remove</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}