{% extends "base.html"%}

{% block content %}
<a class="btn btn-success" href="/tables/acceptances/new" role="button">New Acceptance</a><br>
<table>
    <tr>
        <td width="8%">id</td>
        <td>order id, client</td>
        <td>worker</td>
        <td>things</td>
        <td>comment</td>
        <td>status</td>
        <td width="10%"></td>
    </tr>
    {% for item in data("acceptances", sort=sort, reverse=reverse) %}
    <tr>
        <td width="8%"><a href="/tables/acceptances/{{item.id}}"><input class="form-control" value="{{item.id}}" readonly></a></td>
        <td><input class="form-control" value="({{item.order.id}}) (({{item.order.client.id}}) {{item.order.client.name}})" readonly></td>
        <td><input class="form-control" value="({{item.worker.id}}) {{item.worker.name}}" readonly></td>
        <td><input class="form-control" value="{{item.things}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td><input class="form-control" value="{{item.status}}" readonly></td>
        <td width="10%"></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}