<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css" />
    <title>CRM</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="height: 63px;" href="/dashboard"><img height="63px" src="/static/icons/logo.png"></a>
        <div>
            {% if user.role == "manager" %}
                <a class="btn btn-secondary" href="/tables/clients" role="button">Clients</a>
                <a class="btn btn-secondary" href="/tables/orders" role="button">Orders</a>
            {% elif user.role == "courier" %}
                <a class="btn btn-secondary" href="/tables/orders" role="button">Orders</a>
                <a class="btn btn-secondary" href="/tables/acceptances" role="button">Acceptances</a>
                <a class="btn btn-secondary" href="/tables/things" role="button">Things</a>
            {% elif user.role == "worker" %}
                <a class="btn btn-secondary" href="/tables/acceptances" role="button">Acceptances</a>
                <a class="btn btn-secondary" href="/tables/works" role="button">Works</a>
                <a class="btn btn-secondary" href="/tables/things" role="button">Things</a>
            {% else %}
                <a class="btn btn-secondary" href="/tables/clients" role="button">Clients</a>
                <a class="btn btn-secondary" href="/tables/orders" role="button">Orders</a>
                <a class="btn btn-secondary" href="/tables/acceptances" role="button">Acceptances</a>
                <a class="btn btn-secondary" href="/tables/things" role="button">Things</a>
                <a class="btn btn-secondary" href="/tables/works" role="button">Works</a>
                <a class="btn btn-secondary" href="/tables/workers" role="button">Workers</a>
            {% endif %}
        </div>
        <div>
            <a>{{user.name}} ({{user.role}})</a>
            <a href="/logout">logout</a>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>