{% extends "base.html"%}

{% block content %}
<h1>Клиенты</h1>
<form name="client" method="post">
    <table>
        <tr>
            <input name="id" type="hidden">
            <td><input class="form-control" placeholder="name" name="name"></td>
            <td><input class="form-control" placeholder="address" name="address"></td>
            <td><input class="form-control" placeholder="phone" name="phone"></td>
            <td><input class="form-control" placeholder="comment" name="comment"></td>
            <td><button type="submit" class="btn btn-success">Add Client</button></td>
        </tr>
    </table>
</form><br>
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>address</td>
        <td>phone</td>
        <td colspan="2">comment</td>
    </tr>
    {% for item in get_table("clients", sort=sort, reverse=reverse) %}
    <tr>
        <td width="6%"><input class="form-control" value="{{item.id}}" readonly></td>
        <td><input class="form-control" value="{{item.name}}" readonly></td>
        <td><input class="form-control" value="{{item.address}}" readonly></td>
        <td><input class="form-control" value="{{item.phone}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td><a class="btn btn-warning" href="/tables/clients/{{item.id}}" role="button"><img src="/static/icons/edit.png"></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}