{% extends "base.html"%}

{% block content %}
<h1>Клиент: {{client.name}}</h1>
<form method="post">
<table>
    <tr>
        <td width="8%">id</td>
        <td>name</td>
        <td>address</td>
        <td>phone</td>
        <td>comment</td>
    </tr>
    <tr>
        <td width="8%"><input class="form-control" value="{{client.id}}" name="id" readonly></td>
        <td><input class="form-control" value="{{client.name}}" name="name"></td>
        <td><input class="form-control" value="{{client.address}}" name="address"></td>
        <td><input class="form-control" value="{{client.phone}}" name="phone"></td>
        <td><input class="form-control" value="{{client.comment}}" name="comment"></td>
        <td width="10%"><button type="submit" class="btn btn-success">update</button></td>
    </tr>
</table>
</form><br>
{% if user.role == 'all_in' %}
<a class="btn btn-danger" href="/tables/clients/{{client.id}}/delete" role="button">Delete Client</a><br>
{% endif %}
<table>
    <tr>
        <td width="8%">id</td>
        <td>order id</td>
        <td>worker</td>
        <td>things</td>
        <td>comment</td>
        <td>status</td>
        <td width="10%"></td>
    </tr>
    {% for item in get_table('acceptances') %}
    {% if item.order.client_id == client.id %}
    <tr>
        <td width="8%"><a href="/tables/acceptances/{{item.id}}"><input class="form-control" value="{{item.id}}" readonly></a></td>
        <td><input class="form-control" value="{{item.order.id}}" readonly></td>
        <td><input class="form-control" value="({{item.worker.id}}) {{item.worker.name}}" readonly></td>
        <td><input class="form-control" value="{{item.things}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td><input class="form-control" value="{{item.status}}" readonly></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}