{% extends "base.html"%}

{% block content %}
<a class="btn btn-primary" href="/tables/new_entry?table=clients" role="button">New</a>
<form name="client" method="post">
    <table>
        <tr>
            <td><input class="form-control" placeholder="id" name="id"></td>
            <td><input class="form-control" placeholder="name" name="name"></td>
            <td><input class="form-control" placeholder="address" name="address"></td>
            <td><input class="form-control" placeholder="phone" name="phone"></td>
            <td><input class="form-control" placeholder="comment" name="comment"></td>
            <td><button type="submit" class="btn btn-primary">Submit</button></td>
        </tr>
    </table>
</form>
<table>
    {% for item in data("clients", sort, reverse) %}
    <tr>
        <td><input class="form-control" value={{item[0]}} readonly></td>
        <td><input class="form-control" value={{item[1]}} readonly></td>
        <td><input class="form-control" value={{item[2]}} readonly></td>
        <td><input class="form-control" value={{item[3]}} readonly></td>
        <td><input class="form-control" value={{item[4]}} readonly></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}