{% extends "base.html"%}

{% block content %}
<p align="center" style="line-height:3;"><br>
    {% if user.role == "manager" %}
        <a class="btn btn-secondary" href="/tables/clients" role="button">Clients</a>
        <a class="btn btn-secondary" href="/tables/orders" role="button">Orders</a>
     {% elif user.role == "courier" %}
        <a class="btn btn-secondary" href="/tables/orders" role="button">Orders</a>
        <a class="btn btn-secondary" href="/tables/acceptances" role="button">Acceptances</a>
        <a class="btn btn-secondary" href="/tables/things" role="button">Things</a>
        <a class="btn btn-secondary" href="/tables/shipments" role="button">Shipments</a>
     {% elif user.role == "worker" %}
        <a class="btn btn-secondary" href="/tables/acceptances" role="button">Acceptances</a>
        <a class="btn btn-secondary" href="/tables/works" role="button">Works</a>
    {% else %}
        <a class="btn btn-secondary" href="/tables/clients" role="button">Clients</a>
        <a class="btn btn-secondary" href="/tables/orders" role="button">Orders</a>
        <a class="btn btn-secondary" href="/tables/acceptances" role="button">Acceptances</a>
        <a class="btn btn-secondary" href="/tables/things" role="button">Things</a>
        <a class="btn btn-secondary" href="/tables/works" role="button">Works</a>
        <a class="btn btn-secondary" href="/tables/workers" role="button">Workers</a>
    {% endif %}
</p>
{% endblock %}