{% extends "base.html"%}

{% block content %}
<form method="post">
    <table>
        <tr>
            <td width="8%"><input class="form-control" placeholder="id" name="id"></td>
            {% if user.role != "courier" %}
                <td><input class="form-control" placeholder="client id" name="client"></td>
                <td><input class="form-control" placeholder="date" name="date"></td>
                <td><input class="form-control" placeholder="comment" name="comment"></td>
            {% else %}
                <input type="hidden" name="client">
                <input type="hidden" name="date">
                <input type="hidden" name="comment">
            {% endif %}
            <td><select class="form-control" name="status">
                <option></option>
                <option>created</option>
                <option>in progress</option>
            </select></td>
            <td width="10%"><button type="submit" class="btn btn-primary">add/update</button></td>
        </tr>
    </table>
</form><br>
<table>
    <tr>
        <td width="8%">id</td>
        <td>client</td>
        <td>create date</td>
        <td>comment</td>
        <td>status</td>
        <td width="10%"></td>
    </tr>
    {% for item in data("orders", sort=sort, reverse=reverse) %}
    <tr>
        <td width="8%"><input class="form-control" value="{{item.id}}" readonly></td>
        <td><input class="form-control" value="({{item.client.id}}) {{item.client.name}}" readonly></td>
        <td><input class="form-control" value="{{item.create_date}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td><input class="form-control" value="{{item.status}}" readonly></td>
        <td width="10%"></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}