{% extends "base.html"%}

{% block content %}
<h1>Заявки</h1>
<form method="post">
    <table>
        <tr>
            <input name="id" type="hidden">
            <td><select class="form-control" name="client">
                {% for client in data('clients', sort=sort, reverse=reverse) %}
                <option value="{{client.id}}">({{client.id}}) {{client.name}}</option>
                {% endfor %}
            </select></td>
            <td><input class="form-control" type="date" name="date"></td>
            <td><input class="form-control" placeholder="comment" name="comment"></td>
            <td><select class="form-control" name="status">
                <option></option>
                <option>created</option>
                <option>in progress</option>
            </select></td>
            <td width="10%"><button type="submit" class="btn btn-success">Add Order</button></td>
        </tr>
    </table>
</form><br>
<table>
    <tr>
        <td width="8%">id</td>
        <td>client</td>
        <td>create date</td>
        <td>comment</td>
        <td>status</td>
    </tr>
    {% for item in data("orders", sort=sort, reverse=reverse) %}
    <tr>
        <td width="8%"><input class="form-control" value="{{item.id}}" readonly></td>
        <td><input class="form-control" value="({{item.client.id}}) {{item.client.name}}" readonly></td>
        <td><input class="form-control" value="{{item.create_date}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td><input class="form-control" value="{{item.status}}" readonly></td>
        <td><a class="btn btn-warning" href="/tables/orders/{{item.id}}" role="button"><img src="/static/icons/edit.png"></a></td>
        {% if user.role == 'all_in' %}
        <td><a class="btn btn-danger" href="/tables/orders/{{item.id}}/delete" role="button"><img src="/static/icons/cross.png"></a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}