{% extends "base.html"%}

{% block content %}
<h1>Заявка {{order.client.name}}</h1>
<form method="post">
<table>
    <tr>
        <td width="6%"><input class="form-control" value="{{order.id}}" name="id" readonly>
        <td width="6%"><input class="form-control" value="({{order.client_id}}) {{order.client.name}}" name="client" readonly>
        <td><input class="form-control" type="date" value="{{order.create_date}}" name="date"></td>
        <td><input class="form-control" value="{{order.comment}}" name="comment"></td>
        <td><select class="form-control" name="status">
            {% for status in [['created', 'создана'], ['in_process', 'в работе'], ['completed', 'завершена']] %}
            {% if status[0] == order.status %}
            <option value="{{status[0]}}" selected>{{status[1]}}</option>
            {% else %}
            <option value="{{status[0]}}">{{status[1]}}</option>
            {% endif %}
            {% endfor %}
        </select></td>
        <td width="10%"><button type="submit" class="btn btn-success">update</button></td>
    </tr>
</table>
</form><br>
<a class="btn btn-primary" href="/tables/acceptances/new/{{order.id}}" role="button">Create Acceptance</a>
{% if user.role == 'all_in' %}
<a class="btn btn-danger" href="/tables/orders/{{order.id}}/delete" role="button">Delete Order</a>
{% endif %}
<a class="btn btn-secondary" href="#" role="button">Download register</a>
<br><h2>Работы по заявке</h2>
<table>
    <tr>
        <td colspan="2">id, acceptance id</td>
        <td>date</td>
        <td>model</td>
        <td>actions</td>
        <td>worker</td>
        <td>comment</td>
        <td colspan="2">status</td>
    </tr>
    {% for item in get_table('works') %}
    {% if item.acceptance.order_id == order.id %}
    <tr>
        <td width="6%"><input class="form-control" value="{{item.id}}" readonly></td>
        <td width="6%"><input class="form-control" value="{{item.acceptance_id}}" readonly></td>
        <td width="10%"><input class="form-control" value="{{item.date}}}" readonly></td>
        <td width="8%"><input class="form-control" value="{{item.thing.model}}" readonly></td>
        <td><input class="form-control" value="{{'; '.join(item.actions.split(';'))}}" readonly></td>
        <td width="10%"><input class="form-control" value="({{item.worker_id}}) {{item.worker.name}}" readonly></td>
        <td width="10%"><input class="form-control" value="{{item.comment}}" readonly></td>
        <td width="10%"><input class="form-control" value="{{item.status}}" readonly></td>
        <td><a class="btn btn-warning" href="/tables/works/{{item.id}}" role="button"><img src="/static/icons/edit.png"></a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}