{% extends "base.html"%}

{% block content %}
<p align="center">{{ table }}</p>
{% if table == "clients" %}
    <a class="btn btn-primary" href="/tables/new_entry?table=clients" role="button">New</a>
    <table>
        {% for item in data(table, sort, reverse) %}
            <tr>
                <form id={{item[0]}}>
                    <td><input class="form-control" id="id" value={{item[0]}} readonly></td>
                    <td><input class="form-control" id="name" value={{item[1]}}></td>
                    <td><input class="form-control" id="address" value={{item[2]}}></td>
                    <td><input class="form-control" id="phone" value={{item[3]}}></td>
                    <td><input class="form-control" id="comment" value={{item[4]}}></td>
                    <td><button type="submit" class="btn btn-secondary">Submit</button></td>
                </form>
            </tr>
        {% endfor %}
    </table>
 {% elif table == "orders" %}
    {% if role == "courier" %}

    {% else %}
        <a class="btn btn-primary" href="/tables/new_entry?table=orders" role="button">New</a>
    {% endif %}
 {% elif table == "acceptances" %}
    {% if role == "worker" %}

    {% else %}
        <a class="btn btn-primary" href="/tables/new_entry?table=acceptances" role="button">New</a>
    {% endif %}
 {% elif table == "things" %}
    <a class="btn btn-primary" href="/tables/new_entry?table=things" role="button">New</a>

 {% elif table == "shipments" %}
    <a class="btn btn-primary" href="/tables/new_entry?table=shipments" role="button">New</a>

 {% elif table == "works" %}
    <a class="btn btn-primary" href="/tables/new_entry?table=works" role="button">New</a>

 {% elif table == "workers" %}
    <a class="btn btn-primary" href="/tables/new_entry?table=workers" role="button">New</a>
{% endif %}
{% endblock %}