{% extends "base.html"%}

{% block content %}
<h1>Объекты</h1>
<form method="post">
    <table>
        <tr>
            <input name="id" type="hidden">
            <td><input class="form-control" placeholder="s/n" name="sn"></td>
            <td><input class="form-control" placeholder="vendor" name="vendor"></td>
            <td><input class="form-control" placeholder="model" name="model"></td>
            <td><select class="form-control" name="client">
                {% for client in get_table('clients', sort=sort, reverse=reverse) %}
                <option value="{{client.id}}">({{client.id}}) {{client.name}}</option>
                {% endfor %}
            </select></td>
            <td><input class="form-control" placeholder="comment" name="comment"></td>
            <td width="10%"><button type="submit" class="btn btn-success">Add</button></td>
        </tr>
    </table>
</form><br>
<table>
    <tr>
        <td width="6%">id</td>
        <td>s/n</td>
        <td>vendor</td>
        <td>model</td>
        <td>client</td>
        <td colspan="2">comment</td>
    </tr>
    {% for item in get_table("things", sort=sort, reverse=reverse) %}
    <tr>
        <td width="6%"><input class="form-control" value="{{item.id}}" readonly></td>
        <td><input class="form-control" value="{{item.sn}}" readonly></td>
        <td><input class="form-control" value="{{item.vendor}}" readonly></td>
        <td><input class="form-control" value="{{item.model}}" readonly></td>
        <td><input class="form-control" value="({{item.client.id}}) {{item.client.name}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td><a class="btn btn-warning" href="/tables/things/{{item.id}}" role="button"><img src="/static/icons/edit.png"></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}