{% extends "base.html"%}

{% block content %}
<h1>Обьект</h1>
<form method="post">
<table>
    <tr>
        <td width="8%">id</td>
        <td>s/n</td>
        <td>vendor</td>
        <td>model</td>
        <td>client id</td>
        <td>comment</td>
        <td width="10%"></td>
    </tr>
    <tr>
        <td width="8%"><input class="form-control" value="{{thing.id}}" name="id"></td>
        <td><input class="form-control" value="{{thing.sn}}" name="sn"></td>
        <td><input class="form-control" value="{{thing.vendor}}" name="vendor"></td>
        <td><input class="form-control" value="{{thing.model}}" name="model"></td>
        <td><input class="form-control" value="{{thing.client.id}}" name="client id"></td>
        <td><input class="form-control" value="{{thing.comment}}" name="comment"></td>
        <td width="10%"><button type="submit" class="btn btn-primary">update</button></td>
    </tr>
</table>
</form>
<a class="btn btn-info" href="/tables/things/{{thing.id}}/qr" role="button">Get <b>QR</b></a>
<a class="btn btn-success" href="/tables/works/new/{{thing.id}}" role="button">New <b>Work</b></a><br>
{% if not user.role == 'worker' %}
{% if acceptance %}
<a class="btn btn-warning" href="/tables/acceptances/{{acceptance.id}}/add_thing/{{thing.id}}" role="button">Add to {{acceptance.id}}</a>
{% endif %}
{% endif %}
<table>
    <tr>
        <td width="8%">id</td>
        <td>acceptance id, order</td>
        <td>thing id</td>
        <td>worker</td>
        <td>actions</td>
        <td>comment</td>
        <td>status</td>
        <td width="10%"></td>
    </tr>
    {% for item in works %}
    <tr>
        <td width="8%"><a href="/tables/works/{{item.id}}"><input class="form-control" value="{{item.id}}" readonly></a></td>
        <td><input class="form-control" value="({{item.acceptance.id}}) (({{item.acceptance.order.id}}) (({{item.acceptance.order.client.id}}) {{item.acceptance.order.client.name}}))" readonly></td>
        <td><input class="form-control" value="{{item.thing.id}}" readonly></td>
        <td><input class="form-control" value="({{item.worker.id}}) {{item.worker.name}}" readonly></td>
        <td><input class="form-control" value="{{item.actions}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td><input class="form-control" value="{{item.status}}" readonly></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}