{% extends "base.html"%}

{% block content %}
<h1>Обьекты</h1>
<form method="post">
    <table>
        <tr>
            <td width="8%"><input class="form-control" placeholder="id" name="id"></td>
            <td><input class="form-control" placeholder="s/n" name="sn"></td>
            <td><input class="form-control" placeholder="vendor" name="vendor"></td>
            <td><input class="form-control" placeholder="model" name="model"></td>
            <td><input class="form-control" placeholder="client id" name="client"></td>
            <td><input class="form-control" placeholder="comment" name="comment"></td>
            <td width="10%"><button type="submit" class="btn btn-warning">add/update</button></td>
        </tr>
    </table>
</form><br>
<table>
    <tr>
        <td width="8%">id</td>
        <td>s/n</td>
        <td>vendor</td>
        <td>model</td>
        <td>client</td>
        <td>comment</td>
        <td width="10%"></td>
    </tr>
    {% for item in data("things", sort, reverse) %}
    <tr>
        <td width="8%"><a href="/tables/things/{{item.id}}"><input class="form-control" value="{{item.id}}" readonly></a></td>
        <td><input class="form-control" value="{{item.sn}}" readonly></td>
        <td><input class="form-control" value="{{item.vendor}}" readonly></td>
        <td><input class="form-control" value="{{item.model}}" readonly></td>
        <td><input class="form-control" value="({{item.client.id}}) {{item.client.name}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}