{% extends "base.html"%}

{% block content %}
<h1>Работа</h1>
<br><form method="post">
    <table>
        <tr>
            <td width="6%">id</td>
            <td>acceptance id, order</td>
            <td>thing id</td>
            <td>actions</td>
            <td>worker</td>
            <td>date</td>
            <td>comment</td>
            <td>status</td>
        </tr>
        <tr>
            <td width="6%"><input class="form-control" value="{{work.id}}" name="id" readonly></td>
            <td><input class="form-control" value="({{work.acceptance.id}}) (({{work.acceptance.order.id}}) (({{work.acceptance.order.client.id}}) {{work.acceptance.order.client.name}}))" readonly></td>
            <td><input class="form-control" value="{{work.thing_id}}" readonly></td>
            <td><input class="form-control" value="{{work.actions}}" readonly></td>
            <td><input class="form-control" value="({{work.worker.id}}) {{work.worker.name}}" readonly></td>
            <td><input class="form-control" type="date" value="{{work.date}}" name="date"></td>
            <td><input class="form-control" value="{{work.comment}}" name="comment"></td>
            <td><select class="form-control" name="status">
                {% for status in ['Сделано', 'Ремонт не требуется', 'Отказ'] %}
                {% if status == work.status %}
                <option selected>{{status}}</option>
                {% else %}
                <option>{{status}}</option>
                {% endif %}
                {% endfor %}
            </select></td>
        </tr>
    </table><br>
    {% set actions = work.actions.split(';') %}
    {% for item in [" диагностика", " заправка картриджа", " замена фотобарабана", " замена ролика заряда", " замена чипа", " прошивка чипа", " чистка блока барабана"] %}
        {% if item in actions %}
            <input type="checkbox" name="actions" value="{{item}}" checked>{{item}}<br>
        {% else %}
            <input type="checkbox" name="actions" value="{{item}}">{{item}}<br>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success">update</button>
</form>
{% endblock %}