{% extends "base.html"%}

{% block content %}
<h1>Работы</h1>
<form method="post">
    <table>
        <tr>
            <input name="id" type="hidden">
            <td><select class="form-control" name="acceptance">
                {% for acceptance in get_table('acceptances', reverse=1) %}
                <option value="{{acceptance.id}}">{{acceptance.id}} {{acceptance.things}} {{acceptance.worker.name}}</option>
                {% endfor %}
            </select></td>
            <td><input class="form-control" placeholder="thing id" name="thing"></td>
            <td><input class="form-control" type="date" name="date"></td>
            <td><input class="form-control" placeholder="actions" name="actions"></td>
            <td><input class="form-control" placeholder="comment" name="comment"></td>
            <td><select class="form-control" name="status">
                {% for status in ['Сделано', 'Ремонт не требуется', 'Отказ'] %}
                <option>{{status}}</option>
                {% endfor %}
            </select></td>
            <td width="10%"><button type="submit" class="btn btn-success">Add</button></td>
        </tr>
    </table>
</form><br>
<table>
    <tr>
        <td width="8%">id</td>
        <td>acceptance id, order</td>
        <td>thing id</td>
        <td>worker</td>
        <td>actions</td>
        <td>date</td>
        <td>comment</td>
        <td>status</td>
        <td colspan="2">status</td>
    </tr>
    {% for item in get_table("works", sort=sort, reverse=reverse) %}
    <tr>
        <td width="8%"><input class="form-control" value="{{item.id}}" readonly></td>
        <td><input class="form-control" value="({{item.acceptance.id}}) (({{item.acceptance.order.id}}) (({{item.acceptance.order.client.id}}) {{item.acceptance.order.client.name}}))" readonly></td>
        <td><input class="form-control" value="{{item.thing.id}}" readonly></td>
        <td><input class="form-control" value="({{item.worker.id}}) {{item.worker.name}}" readonly></td>
        <td><input class="form-control" value="{{', '.join(item.actions.split())}}" readonly></td>
        <td><input class="form-control" value="{{item.date}}" readonly></td>
        <td><input class="form-control" value="{{item.comment}}" readonly></td>
        <td><input class="form-control" value="{{item.status}}" readonly></td>
        <td><a class="btn btn-warning" href="/tables/works/{{item.id}}" role="button"><img src="/static/icons/edit.png"></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}